{% load static %}

<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="css/core.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Gabarito:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    <title>Favorite Albums</title>
  </head>
  <body>
    <header>
      <img class="vin" src="{% static 'img/vinyl.png' %}" />
      <h1>crates</h1>
    </header>

    <div class="container">

      <p>
        pedro
sanchez
president
summer
reach
stars
lafawnduh
totally
sweet
class
elections
vote
happy
hands
club
friends
fun
skill
snacks
community
service
music
join
now
preston
high
sign
language
idaho
cougar
pride
school
cougars
tater
tots
      </p>
      {% comment %} {% for album in albums %}
      <div class="card">
        <img src="{{album.image}}.jpg" alt="Image {{ album.id}}" />        
        <div class="card-text">
          <div class="card-head">
            <p class="card-text">{{album.name}}</p>
            <div class="star-group">
              {% for i in "x"|rjust:"5" %}
                <img class="star fill" alt="star" src="{% static 'img/star-line.svg' %}" />
              {% endfor %}
            </div>
          </div>
          <p class="sub">{{ album.artist }}</p>
        </div>
      </div>
      {% endfor %} {% endcomment %}
    </div>
    
  </body>
</html>
